In [1]:
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

In [2]:
adm = pd.read_csv("../data/hos/admissions.csv",  header=0, index_col=None, parse_dates=['admittime'])

In [3]:
adm.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,ENGLISH,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,ENGLISH,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,ENGLISH,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

In [4]:
pts = pd.read_csv('../data/hos/patients.csv', header=0, index_col=None, parse_dates=['dod']).fillna(0)

In [5]:
# Get the MAXIMUM possible year that the anchor_year corresponds to
pts['min_year_group'] = pts.anchor_year_group.str.slice(start=0, stop=4).astype(int)
pts['max_year_group'] = pts.anchor_year_group.str.slice(start=-4).astype(int)

# Youngest possible age occurs by finding the diff between the max year and 2008, then subtracting from anchor_age
# This ensures you don't accidentally include someone who might've been <18 in that anchor year range during the 2008-2019 window
pts['min_age'] = pts.anchor_age.values - (pts.max_year_group.values - 2008)
# pts = pts.loc[pts.min_age >= 18]

# gets a patient's specific anchor year that corresponds to the range 2008-2010
# This year is timedelta = 0 for the end dataset
pts['base_anchor_year'] = (pts.anchor_year - (pts.min_year_group - 2008))

In [6]:
pts.head() #(259289, 10)

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,min_year_group,max_year_group,min_age,base_anchor_year
0,10000032,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
1,10000048,F,23,2126,2008 - 2010,0,2008,2010,21,2126
2,10000068,F,19,2160,2008 - 2010,0,2008,2010,17,2160
3,10000084,M,72,2160,2017 - 2019,2161-02-13 00:00:00,2017,2019,61,2151
4,10000102,F,27,2136,2008 - 2010,0,2008,2010,25,2136

In [7]:
print(pts.shape)
print('mean-age in the dataset:', round(pts['min_age'].mean(),2))
print('minimum-age in the dataset:', round(pts['min_age'].min(),2))
print('maximum-age in the dataset:', round(pts['min_age'].max(),2))
print('mean-age in the dataset:', round(pts['anchor_age'].mean(),2))
print('minimum-age in the dataset:', round(pts['anchor_age'].min(),2))
print('maximum-age in the dataset:', round(pts['anchor_age'].max(),2))
print('Gender: Female-', len(pts.loc[pts['gender']=='F']))
print('Gender: Male-', len(pts.loc[pts['gender']=='M']))

(299712, 10)
mean-age in the dataset: 42.58
minimum-age in the dataset: 7
maximum-age in the dataset: 89
mean-age in the dataset: 48.54
minimum-age in the dataset: 18
maximum-age in the dataset: 91
Gender: Female- 158553
Gender: Male- 141159

In [8]:
pts['min_age'].value_counts()

#get the 5 year bucket for plotting

18    6896
19    6451
17    6392
20    6069
16    5865
      ...
82    1167
84     992
7      826
85     623
87     347
Name: min_age, Length: 82, dtype: int64

In [9]:
print(adm.columns.to_list())
print(pts.columns.to_list())

['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime', 'admission_type', 'admit_provider_id', 'admission_location', 'discharge_location', 'insurance', 'language', 'marital_status', 'race', 'edregtime', 'edouttime', 'hospital_expire_flag']
['subject_id', 'gender', 'anchor_age', 'anchor_year', 'anchor_year_group', 'dod', 'min_year_group', 'max_year_group', 'min_age', 'base_anchor_year']

In [10]:
#merge the paitent and admissions

adm_pts = (adm.merge(pts, 
           how='inner', left_on=['subject_id'], right_on=['subject_id'])
)

In [11]:
#finding combination for patients and how many times they came to hospital

adm_pts.shape #(412850, 25)

adm_pts['subject_id'].nunique() #168473

adm_pts['hadm_id'].nunique() #412850

(adm_pts.groupby(adm_pts['subject_id'])['hadm_id']
 .nunique().to_frame().rename(columns={'hadm_id': 'hadm_id_counts'})
 .sort_values('hadm_id_counts', ascending=False))

            hadm_id_counts
subject_id
15496609               238
15464144               185
10714009               163
16662316               142
15229574               130
...                    ...
12377951                 1
15931810                 1
15931659                 1
12378205                 1
19999987                 1

[180733 rows x 1 columns]

In [12]:
adm_pts.head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,hospital_expire_flag,gender,anchor_age,anchor_year,anchor_year_group,dod,min_year_group,max_year_group,min_age,base_anchor_year
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,0,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,0,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,0,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,0,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,...,0,F,19,2160,2008 - 2010,0,2008,2010,17,2160

In [13]:
pts_diag = pd.read_csv('../data/hos/diagnoses_icd.csv').reset_index(drop = True)

In [14]:
print(pts_diag.shape)
pts_diag.head(10)

(4756326, 5)

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9
5    10000032  22595853        6    29680            9
6    10000032  22595853        7    30981            9
7    10000032  22595853        8    V1582            9
8    10000032  22841357        1    07071            9
9    10000032  22841357        2    78959            9

In [15]:
pts_diag['icd_version'].value_counts()

9     2766877
10    1989449
Name: icd_version, dtype: int64

In [16]:
#normalization of ic9 and icd10 codes.

In [17]:
df = pts_diag.head(40)

In [18]:
df.head(20)

    subject_id   hadm_id  seq_num icd_code  icd_version
0     10000032  22595853        1     5723            9
1     10000032  22595853        2    78959            9
2     10000032  22595853        3     5715            9
3     10000032  22595853        4    07070            9
4     10000032  22595853        5      496            9
5     10000032  22595853        6    29680            9
6     10000032  22595853        7    30981            9
7     10000032  22595853        8    V1582            9
8     10000032  22841357        1    07071            9
9     10000032  22841357        2    78959            9
10    10000032  22841357        3     2875            9
11    10000032  22841357        4     2761            9
12    10000032  22841357        5      496            9
13    10000032  22841357        6     5715            9
14    10000032  22841357        7      V08            9
15    10000032  22841357        8     3051            9
16    10000032  25742920        1    07054            9
17    10000032  25742920        2    78959            9
18    10000032  25742920        3     V462            9
19    10000032  25742920        4     5715            9

In [19]:
df.pivot(index=['subject_id','hadm_id','icd_version'], columns='icd_code').reset_index()

         subject_id   hadm_id icd_version seq_num                              \
icd_code                                    07044 07054 07070 07071 2761 2767
0          10000032  22595853           9     NaN   NaN   4.0   NaN  NaN  NaN
1          10000032  22841357           9     NaN   NaN   NaN   1.0  4.0  NaN
2          10000032  25742920           9     NaN   1.0   NaN   NaN  6.0  5.0
3          10000032  29079034           9     2.0   NaN   NaN   NaN  4.0  6.0
4          10000068  25022803           9     NaN   NaN   NaN   NaN  NaN  NaN

               ...
icd_code 2875  ...   496  5715 5723 78791 78959 7994  V08 V1582  V462 V4986
0         NaN  ...   5.0   3.0  1.0   NaN   2.0  NaN  NaN   8.0   NaN   NaN
1         3.0  ...   5.0   6.0  NaN   NaN   2.0  NaN  7.0   NaN   NaN   NaN
2         NaN  ...   7.0   4.0  NaN  10.0   2.0  NaN  8.0   NaN   3.0   NaN
3         NaN  ...  11.0  13.0  NaN   NaN   5.0  3.0  8.0   NaN  10.0   9.0
4         NaN  ...   NaN   NaN  NaN   NaN   NaN  NaN  NaN   NaN   NaN   NaN

[5 rows x 25 columns]

In [20]:
pts_diag.groupby(['subject_id', 'hadm_id', 'icd_version'],  as_index = False)['icd_code'].count().sort_values('icd_code', ascending =False)

#14975184	27635276 57

        subject_id   hadm_id  icd_version  icd_code
8676      10213059  29029082           10        39
162464    13791947  27054007           10        39
257798    15980060  26057495           10        39
327309    17595401  21613580            9        39
120225    12800814  29909244           10        39
...            ...       ...          ...       ...
303524    17044572  20747759            9         1
234389    15447207  29372164            9         1
420962    19769854  27679486            9         1
333308    17735086  23275624           10         1
287007    16665211  29216016           10         1

[430862 rows x 4 columns]

In [21]:
pts_diag.loc[(pts_diag['subject_id']==14975184) & (pts_diag['hadm_id'] == 27635276)]

         subject_id   hadm_id  seq_num icd_code  icd_version
2365061    14975184  27635276        1    44023            9
2365062    14975184  27635276        1     A419           10
2365063    14975184  27635276        2     5856            9
2365064    14975184  27635276        2     N186           10
2365065    14975184  27635276        3    40391            9
2365066    14975184  27635276        3     K631           10
2365067    14975184  27635276        4    25040            9
2365068    14975184  27635276        4     K559           10
2365069    14975184  27635276        5    41401            9
2365070    14975184  27635276        5    Z7682           10
2365071    14975184  27635276        6    27800            9
2365072    14975184  27635276        6     I120           10
2365073    14975184  27635276        7     3829            9
2365074    14975184  27635276        7   M868X6           10
2365075    14975184  27635276        8     7242            9
2365076    14975184  27635276        8   I70238           10
2365077    14975184  27635276        9    25050            9
2365078    14975184  27635276        9    I2510           10
2365079    14975184  27635276       10    36201            9
2365080    14975184  27635276       10    H6690           10
2365081    14975184  27635276       11    25060            9
2365082    14975184  27635276       11   L98499           10
2365083    14975184  27635276       12    70715            9
2365084    14975184  27635276       12     I739           10
2365085    14975184  27635276       13     3572            9
2365086    14975184  27635276       13    I2510           10
2365087    14975184  27635276       14     2859            9
2365088    14975184  27635276       14     E669           10
2365089    14975184  27635276       15    G8929           10
2365090    14975184  27635276       15    V8537            9
2365091    14975184  27635276       16     M545           10
2365092    14975184  27635276       16    V4582            9
2365093    14975184  27635276       17     E875           10
2365094    14975184  27635276       17    V1582            9
2365095    14975184  27635276       18    E1122           10
2365096    14975184  27635276       18    V5861            9
2365097    14975184  27635276       19    E1140           10
2365098    14975184  27635276       19    V1251            9
2365099    14975184  27635276       20   E11319           10
2365100    14975184  27635276       20    V5863            9
2365101    14975184  27635276       21    V5867            9
2365102    14975184  27635276       21      Z23           10
2365103    14975184  27635276       22     D123           10
2365104    14975184  27635276       22    V5866            9
2365105    14975184  27635276       23     I509           10
2365106    14975184  27635276       23    V4511            9
2365107    14975184  27635276       24     D649           10
2365108    14975184  27635276       25     Z955           10
2365109    14975184  27635276       26   Z89421           10
2365110    14975184  27635276       27    Z7982           10
2365111    14975184  27635276       28    Z7901           10
2365112    14975184  27635276       29     Z794           10
2365113    14975184  27635276       30   Z87891           10
2365114    14975184  27635276       31     Z992           10
2365115    14975184  27635276       32    Z6836           10
2365116    14975184  27635276       33   Z86718           10
2365117    14975184  27635276       34    Z7902           10

In [22]:
pts_diag.groupby(['subject_id', 'hadm_id', 'icd_version'])['icd_code'].apply(list)

subject_id  hadm_id   icd_version
10000032    22595853  9              [5723, 78959, 5715, 07070, 496, 29680, 30981, ...
            22841357  9               [07071, 78959, 2875, 2761, 496, 5715, V08, 3051]
            25742920  9              [07054, 78959, V462, 5715, 2767, 2761, 496, V0...
            29079034  9              [45829, 07044, 7994, 2761, 78959, 2767, 3051, ...
10000068    25022803  9                                                        [30500]
                                                           ...
19999828    25744818  10             [T8141XA, E1110, K632, D682, L02211, T83728A, ...
            29734428  10             [T8131XA, T8183XA, K632, D6851, N390, Y838, Y9...
19999840    21033226  9              [3453, 51881, 5070, 5180, 42741, 43821, 43811,...
            26071774  9                 [43491, 43820, 34590, 43811, 4019, 2724, 3051]
19999987    23865745  9              [431, 3485, 20280, 5849, 5990, 2449, 41401, 78...
Name: icd_code, Length: 430862, dtype: object

In [23]:
pts_diag.head()
adm_pts.head()
pts.head()

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,min_year_group,max_year_group,min_age,base_anchor_year
0,10000032,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
1,10000048,F,23,2126,2008 - 2010,0,2008,2010,21,2126
2,10000068,F,19,2160,2008 - 2010,0,2008,2010,17,2160
3,10000084,M,72,2160,2017 - 2019,2161-02-13 00:00:00,2017,2019,61,2151
4,10000102,F,27,2136,2008 - 2010,0,2008,2010,25,2136

In [24]:
pts_diag.groupby(['subject_id', 'hadm_id', 'icd_version'])['icd_code'].apply(list)

subject_id  hadm_id   icd_version
10000032    22595853  9              [5723, 78959, 5715, 07070, 496, 29680, 30981, ...
            22841357  9               [07071, 78959, 2875, 2761, 496, 5715, V08, 3051]
            25742920  9              [07054, 78959, V462, 5715, 2767, 2761, 496, V0...
            29079034  9              [45829, 07044, 7994, 2761, 78959, 2767, 3051, ...
10000068    25022803  9                                                        [30500]
                                                           ...
19999828    25744818  10             [T8141XA, E1110, K632, D682, L02211, T83728A, ...
            29734428  10             [T8131XA, T8183XA, K632, D6851, N390, Y838, Y9...
19999840    21033226  9              [3453, 51881, 5070, 5180, 42741, 43821, 43811,...
            26071774  9                 [43491, 43820, 34590, 43811, 4019, 2724, 3051]
19999987    23865745  9              [431, 3485, 20280, 5849, 5990, 2449, 41401, 78...
Name: icd_code, Length: 430862, dtype: object

In [25]:
# df['new_col'] = np.array(mylist)
adm_pts

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,hospital_expire_flag,gender,anchor_age,anchor_year,anchor_year_group,dod,min_year_group,max_year_group,min_age,base_anchor_year
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,0,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,0,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,0,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,0,F,52,2180,2014 - 2016,2180-09-09 00:00:00,2014,2016,44,2174
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P51VDL,EMERGENCY ROOM,NaN,Other,...,0,F,19,2160,2008 - 2010,0,2008,2010,17,2160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431226,19999828,25744818,2149-01-08 16:44:00,2149-01-18 17:00:00,NaN,EW EMER.,P75BG6,TRANSFER FROM HOSPITAL,HOME HEALTH CARE,Other,...,0,F,46,2147,2017 - 2019,0,2017,2019,35,2138
431227,19999828,29734428,2147-07-18 16:23:00,2147-08-04 18:10:00,NaN,EW EMER.,P16C7J,PHYSICIAN REFERRAL,HOME HEALTH CARE,Other,...,0,F,46,2147,2017 - 2019,0,2017,2019,35,2138
431228,19999840,21033226,2164-09-10 13:47:00,2164-09-17 13:42:00,2164-09-17 13:42:00,EW EMER.,P58A9J,EMERGENCY ROOM,DIED,Other,...,1,M,58,2164,2008 - 2010,2164-09-17 00:00:00,2008,2010,56,2164
431229,19999840,26071774,2164-07-25 00:27:00,2164-07-28 12:15:00,NaN,EW EMER.,P506DE,EMERGENCY ROOM,HOME,Other,...,0,M,58,2164,2008 - 2010,2164-09-17 00:00:00,2008,2010,56,2164
431230,19999987,23865745,2145-11-02 21:38:00,2145-11-11 12:57:00,NaN,EW EMER.,P09IS0,EMERGENCY ROOM,REHAB,Other,...,0,F,57,2145,2011 - 2013,0,2011,2013,52,2142